mixin simple-thumb(img, title, price)
  |
  |
  a.simple-thumb.waves-effect(href=link.fashion.detail)
    |
    |
    span.wrap
      span.figure
        img(src=img alt='title')/
      |
      |
      span.text #{title}
      |
      |
      span.price
        strong #{price}
      |
      |
    |
    |
  |
  |
      
